.page {
    display: flex;
    flex-direction: column;
}

.container {
    padding: 20px;
}

.accountNAV {
    display: flex;
    padding: 1rem 2rem;
    border-bottom: 2px solid #3a0b07;
    background-color: #4b0f0a;
    align-items: center;
    justify-content: space-between;
}

.navLeft h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    margin: 0;
}

.navRight {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

.navButton {
    background: #4b0f0a;
    color: white;
    border: none;
    /*border: 1px solid #6b1e1b; */
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
    
    &:hover {
        background-color: #6b1e1b;
    }
}

.profileContainer {
    display: flex;
    flex-direction: row;
    min-height: 80vh;
}

.profileArea {
    flex: 1;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-right: 2px solid #ccc;
}

.profilePicture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #ddd;
    margin-bottom: 1rem;
}

.username {
    align-items: center;
    font-size: 1rem;
    color: #333;
}

.contentArea {
    flex: 2;
    padding: 2rem;
    background-color: #f5f5f5;
}

.contentButton {
    background: #f5f5f5;
    border: none;
    border: 1px solid #ddd;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;

    &:hover {
        background-color: #ddd;
    }
}
