.border {
  flex: 1 1 auto;
  min-height: 0;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #4b0f0a;
}

.accountNAV {
    display: flex;
    padding: 0.75rem 2rem;
    background-color: #4b0f0a;
    align-items: center;
    justify-content: center;
    width: calc(100% - 4rem);
}

.navCenter h2 {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    margin: 0;
}

.title {
  height: 1.5rem;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
}

.content {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
  min-height: 400px;
  border: 1px solid #881c1c;;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  flex: 0 0 55%;
  width: 65%;
  padding: 0px 20px 30px 20px;
  min-height: 0;
}

.selectorContainer {
  margin: 10px 0px 10px 0px;
}

.routeSelector {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.map {
  flex: 1 1 auto;
  min-height: 0;
  border: 1px solid green;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.routeCreator {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 35%;
  padding: 5px 20px 30px 20px;
  border-left: 2px solid #ccc;
  min-height: 0;
  
}

.routeInfo {
  margin-top: 10px;
  width: 100%;
  height: 1.875rem;
}

.stopsList {
  margin-top: 10px;
  flex: 1 1 auto;
  min-height: 0;
  background-color: rgb(245, 245, 245);
  height: calc(75% - 2rem);
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 6px;
}

.stop {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: lightgray;
  border: 1px solid black;
  margin-bottom: 8px;
  height: 2.5rem;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stopInfo {
  width: 60%;
  min-width: 200px;
}

.stopName {
  font-size: 12pt;
  font-weight: bold;
  text-transform: capitalize;
  width: 100%;
}

.stopType {
  font-size: 10pt;
  font-style: italic;
  text-transform: capitalize;
}

.reorderButtons {
  display: flex;
  width: calc(40% - 80px);
  min-width: 60px;
  align-items: center;
}

.otherButtons {
  width: 70px;
}

.addStopContainer {
  margin-top: 10px;
  height: 1.875rem;
  text-align: center;
  align-items: center;
}

.addStopButton {
  height: 1.875rem;
  width: 100px;
  font-size: 10pt;
  cursor: pointer;
}

.routeButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.routeButton {
  height: 1.875rem;
  width: 80px;
  font-size: 10pt;
  color: white;
  font-weight: bold;
  background-color: #03adc4;
  cursor: pointer;
}

.saveButton {
  height: 1.875rem;
  width: 100px;
  font-size: 10pt;
  color: white;
  font-weight: bold;
  background-color: #4CAF50;
  cursor: pointer;
}