.border {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
}

.title {
  height: 2rem;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.content {
  display: flex;
  width: 100%;
  height: 500px;
  margin-top: 1rem;
  border: 1px solid black;
}

.mapContainer {
  height: 100%;
  width: 60%;
  padding: 0px 20px 10px 20px;
}

.routeSelector {
  height: 30px;
  margin: 8px;
  border: 1px solid black;
}

.map {
  height: 450px;
  border: 1px solid black;
}

.routeCreator {
  height: 100%;
  width: 40%;
  padding: 0px 10px 10px 10px;
  border-left: 1px solid black;
}

.routeInfo {
  margin-top: 10px;
  width: 100%;
  height: 30px;
}